@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #181616;
    color: #FFFFFF;
}

.header {
    width: 100%;
    z-index: 10;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #292727;
    transition: background-color 0.2s ease;
}

main {
    margin: .75rem .75rem;
    height: 70%;
    display: flex;
    flex-direction: column;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
    margin-bottom: 1.5rem;
    width: calc(100% - 3rem);
    max-height: 75px;
    margin-left: auto;
    margin-right: auto;
}

.nav-list,
.nav-list-right {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list {
    gap: 0.75rem;
}

.nav-list-right {
    gap: 0.5rem;
}

.nav-item {
    display: inline-flex;
    align-items: center;
    border-radius: 9999px;
    padding: 0.25rem 0.5rem;
}

.nav-link {
    color: #e5e7eb;
    text-decoration: none;
    cursor: pointer;
    display: block;
    width: 100%;
}

.nav-link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .navbar {
        width: calc(100% - 1.5rem);
    }
}