<footer>
  <div class="bg-transparent">
    <div
      class="w-full sm:w-3/4 lg:w-1/2 mx-auto mt-8 sm:mt-12 py-4 sm:py-8 px-4 flex items-center justify-center text-surface-0 border-t border-dashed border-black/10 dark:border-white/10 text-black dark:text-white text-center text-sm sm:text-base"
    >
      © {new Date().getFullYear()} Takaa's InHouse — Projet ZZCCMXTP
    </div>
  </div>
</footer>
