<footer>
  <div>
    <div
      class="w-1/2 mx-auto lg:mt-12 py-8 pt-10 flex items-center justify-center text-surface-0 border-t border-dashed border-black/10 dark:border-white/10 text-black dark:text-white"
    >
      © {new Date().getFullYear()} Takaa's InHouse — Projet ZZCCMXTP
    </div>
  </div>
</footer>
