<div class="py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center text-lg/8 font-semibold text-white">
      Aucun sponsor ? Aucun problème !
    </h2>
    <p class="mt-4 text-center text-gray-400">
      On a pas besoin de sponsors : on s'est fait tout seul 💪
    </p>
    <div
      class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5"
    >
    </div>
  </div>
</div>
