---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import PlayerCard from "../../components/card/PlayerCard.astro";
import { getCollection } from "astro:content";
import "../../styles/global.css";

const players = await getCollection("players");

const playersData = players.sort((a, b) =>
    a.data.nickname.localeCompare(b.data.nickname),
);
---

<Layout>
    <Hero
        title="Players"
        description="Découvre tous les joueurs de l'Inhouse Valorant"
        promote={true}
    />

    <hr
        class="w-1/2 mx-auto lg:mt-12 py-8 pt-10 flex items-center justify-center text-surface-0 border-t border-dashed border-black/10 dark:border-white/10 text-black dark:text-white"
    />

    <div class="w-full flex justify-center mt-8">
        <input
            type="text"
            id="search"
            placeholder="Rechercher un joueur..."
            class="px-4 py-2 border border-zinc-400 rounded-md w-full max-w-md"
            onInput="filterPlayers()"
        />
    </div>

    <section class="flex justify-center w-full px-4">
        <div
            id="players-container"
            class="w-full max-w-6xl grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 my-12"
        >
            {playersData.map((player) => <PlayerCard player={player} />)}
        </div>
    </section>

    <script type="text/javascript">
        const players = Array.from(
            document.querySelectorAll("#players-container > *"),
        );

        function filterPlayers() {
            const query = document.getElementById("search").value.toLowerCase();
            players.forEach((playerCard) => {
                const name = playerCard
                    .querySelector("h3")
                    .textContent.toLowerCase();
                playerCard.style.display = name.includes(query)
                    ? "block"
                    : "none";
            });
        }
    </script>
</Layout>
